*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  html{
    background-image: linear-gradient(to top, #2f3545, #1d212c);
  }
.head{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 0 5rem;
    align-items: center;
    background-color: #151820;
    color:aliceblue;
    box-shadow: 0 0.5rem 2.5rem 0 rgb(226 0 116 / 50%);
    font-size: 1rem;
}
#active{
    background-image: linear-gradient(to top, #72134b, #1d212c);
  }

#tvaultimage{
    display: flex;
    column-gap: 5px;
    align-items: center;
  }

#accounts{
  display: flex;
  font-family: "Roboto";
  font-size: 1rem;
  align-items: center;
  column-gap: 1rem;
}
#documents{
  align-items: center;
  display: flex;
  column-gap: 5px;

  }

 

  header{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 0 173.28px;
    align-items: center;
    background-color: #151820;
    color:aliceblue;
    font-size: 1.25rem;
    box-shadow: 0 0.3rem 3rem 0rem #72134b ;
  }
  #tvaultlogo img{
    width: 168.65px;
    height: 37.09px;

  }
  a.active{
    background-image: linear-gradient(to top, #72134b, #1d212c);
  }

  .nav ul{
    display: flex;
    font-family:'Helvetica Neue';
    align-items: stretch;
    height:4.5rem;
  }
  .nav a{
    height: 93.8%;
    width: 136.8px;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1.8rem 0rem;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
  }
  .nav li{
    list-style: none;
    width:10rem;
  }
  a.active{
    cursor: pointer;
    background-image: linear-gradient(to top, #72134b, #1d212c);
  }
  .nav a:focus{
    cursor: pointer;
    background-image: linear-gradient(to top, #72134b, #1d212c);
  } 
  

  #bodycontainer{
    height:calc(100vh - 5.1rem);
    padding:5rem 8rem;
    color: #fff;  
  }

  #maincontainer{
    padding: 2.5rem 9rem;
    height: 43rem;
    color: #fff;
    /* background-color: #1d212c; */
  }

  #subcont2{
    display: flex;
    flex-direction: row;
    background-color:#151820;
    margin-top: 8px;
  }

  #subcont3{
    display:flex;
    width: 29rem;
    flex-direction: column;
    /* justify-content: space-between; */   
    /* padding: 0.5rem; */
    border-bottom: 1px solid #2a2e3e;
  }
  #nosafefound{
    padding:  10rem;
  }
  .Listcomputer{
    -ms-overflow-style: none;  
    scrollbar-width: none;
      overflow-y: scroll;
    width: 29rem;
  }
  .Listcomputer::-webkit-scrollbar {
    display: none;

  }
  #subcont1{
    display: flex;
    height:calc(100vh - 11rem);
    color:#fff;
    font-size: 1rem;
  }

  #subcont4{
    display: flex;
    justify-content: space-between;
    /* column-gap: 5rem; */
    align-items: center;
    padding: 0.7rem;
    font-family: "Roboto";
    color:#fff;
    border-bottom: solid 0.1rem #2a2e3e;
    padding-bottom: 0.5rem;
  }
  #subcont5{
     padding-left:1.5rem;
     font-size: 18px;
     
  }
  #subcont6{
    margin-left: -15px;
    color: #ffffff;
   
  }
  #search{
    display: flex;
    background-color: #20232e;
    /* margin-right: 1.5rem; */
  }

  #search input {
    background: #20232e;
    width: 12rem;
    height: 1.5rem;
    outline: none;
    color: #fff;
    border: none;
    gap: 0;
  }
 


  #submain{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    height: 30rem;
    margin-top: 1rem; */
    /* -ms-overflow-style: none;  
    scrollbar-width: none;
      overflow-y: scroll; */
  }

  /* #submain::-webkit-scrollbar {
    display: none;
  } */
  #shieldimage{
    width: 8%;
  }

  #nameandowner{
    margin-right: 6rem;
  }
  #createtext{
    font-size: 13px;
    margin-left: 8.5rem;
    margin-top: -154px;
    margin-bottom: 24px;
  }
  #mainLap {
    width: 26rem;
    padding: 8rem 8rem;
  }

  #create-image{
    width: 25.5rem;
    margin-left: 12px;
    cursor: pointer;
  padding: 0rem 11rem;
  }
  #updatesec{
    font-size: 0.7rem;
    margin-right: 28px;
    margin-top: 0.6rem;
    color: #5e627c;
  }
  #updatename{
    margin-left: 6px;
    font-size: 1rem;
  }

  #create-pop{
    margin-top: 1rem;
    margin-left: 4rem;
  }
  #no-safes-create{
    font-family: "Roboto";
    font-weight:bold;
    color:#fff;
    font-size: 1.25rem;
    padding:0.5rem 0;
  }

  #safes-created{
    font-family: "Helvetica";
    color:#c4c4c4;
    font-size: 0.85rem;
  }

  #secrets{
    height:calc(100vh - 10rem);
    gap:0;
  }
  #secret-cont{
    position: absolute;
    top: 2.5rem;
    bottom: 5rem;
    right: 25.5rem;
  }
  #secret-cont-empty{
    
    position: absolute;
    top: 2rem;
    right: 9rem;
  }
  #secretshead{
    height: 29%;
  }
  #mainsecret{
    height:34%;
    position: relative;
    transform: translateY(-7px);
  }
  #mainsecret img{
    width: 48rem;
    height: 11.1rem;
  } 

  #secret-sub{
    width: 47.95rem;
      height: 68%;
      padding: 1rem;
      background-image: linear-gradient(to bottom, #151820, #2c3040);
  }

  #secret-sub1{
    position: relative;
    width: 45rem;
    display: flex;
    font-size: 14px;
    padding-bottom: 0.5rem;
    font-weight: bold;
    justify-content: space-between;
    border-bottom: 1px solid #5e627c;
  }
  

  #secret-sub2{
    height:100%;
    width: 10rem;
    display: flex;
    justify-content: space-between;
  }
  #secrets-active{
    color:#fff;
    border-bottom: 5px solid #72134b;
  }

  #add-folders{
    width: 7.5rem;
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
  }

  #add-fold{
    width: 7.5rem;
    display: flex;
    justify-content: flex-end;
  }
  #add-fold img{
    cursor: pointer;
  }

  #add-fold p{
    padding-top: 0.3rem;
    color:#5e627c;
  }
  #locker{
    padding: 0 5rem;
    align-items: center;
    text-align: center;
  }
  #locker-image{
    padding:  1rem 9rem 0rem 9rem;
   height:10rem;
  }
  #loc-img{
    height: 10rem;
  }
  #lock-cont{
    color: #5e627c;
    margin-top: 1.8rem;
    width: 15rem;
    margin-left: 10rem;
    font-size: 13px;
  }
  #new-secrets{
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    align-items: center;
  }
  #white{
    color: white;
  }

  #new-secrets button {
    display: flex;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
    border: none;
    background-color: #454c5e;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0;
    width: 4rem;
  }


  #add-sec{
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding:0.25rem;
    margin-top: 0.5rem;
    background-color:  #5e627c; 
  }
  #add-img{
    height:12px;
  }

  #addfolder_popup{
  box-shadow: -15rem -15rem 55rem 55rem rgb(8 8 8 / 70%);


  }

  .popup{
  position: fixed;
  z-index: 1000;
  color: #fff;
  top:4rem;
  left:25rem;
  right:25rem;
  width:45%;
  height:85%;
  background-color: #2c3040;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  box-shadow: -15rem -15rem 55rem 55rem rgb(8 8 8 / 70%);
  }
  #inputbox{
    width: 100%;
    padding: 1rem;
    height: 30%;
    outline: none;
    margin-top: 0.8rem;
  }

  .subpopup{
    position: absolute;
    padding: 7rem 3.5rem;
    }
    .subpopup button{
      padding:0.5rem;
      color:#72134b;
      text-align: center;
      width:10rem;
    }
    .popup-cont{
      display: flex;
      column-gap: 1rem;
      font-size: 13px;
      color: #c4c4c4;
      padding:1rem 0;
    }
    #minimum{
      font-size: 13px;
      color: #c4c4c4;
    }
    .input-area{
      font-size: 0.9rem;

    }
    .input-area p{
    padding: 0.5rem 0;
    }
    .input-area input{
    height:2rem;
    width:41rem;
    padding:0.5rem;
    outline: none;
    }
    #pop_button{
      display: flex;
      justify-content: flex-end;
      column-gap: 5px;
    }

    #pop_button button{
      width:5rem;
      height:2rem;
      padding:0.5rem;
      text-align: center;
      /* background: #e20074; */
    }
    #popup_folder_button{
      display: flex;
      justify-content: flex-end;
      padding: 1.5rem;
    }
    
    #addfolder_popup{
    position: fixed;
    z-index: 1000;
    top:15rem;
    left:30rem;
    width: 45%;
    height: 21rem;
    padding: 3rem;
    background-color: #2c3040;
    }

    #addfolder_popup h2{
      color: white;
    text-align: left;
    padding-bottom:1.5rem ;
    }

    #folderin{
      text-align: left; 
      color:#fff;
      font-size: 13px;
      padding:0.4rem;
      padding-left: 0;
    }
    #wrong{
      text-align: left; 
      color:#5e627c;
      font-size: 17px;
      padding:0.4rem;
      padding-left: 0;
    }
    #addfolder_popup input{
    padding:0.5rem;
    height:3rem;
    outline: none;
    width:100%;
    }
    #popup_folderbtn{
      display: flex;
      justify-content: flex-end;
    }
    #popup_folderbtn button{
      width:5rem;
      height:2rem;
      padding:0.5rem;
      margin: 0.5rem 0;
      text-align: center;
      color:#72134b
    }



    .save_before{
      padding:0.5rem 1rem;
      margin-left: 0.5rem;
      background: #454c5e;
      color:white;
      outline: none;
      border: none;
    }
    
    .save_after{
      padding:0.5rem 1rem;
      margin-left: 0.5rem;
      background:#e20074;
      color:white;
      outline: none;
      border: none;
    }
    /* .button_rose{
      background:#e20074;;
      outline: none;
      border: none;
      color: white;
      margin-left: 0.5rem; 
      padding: 0.3rem 1rem;
    } */
    .button_grey{
      background-color:#8b8ea6;;
      outline: none;
      border: none;
      color: white;
      margin-left: 0.5rem; 
      padding: 0.3rem 1rem;
    }
    #wrong{
      text-align: left; 
      color:#5e627c;
      font-size: 10px;
      padding:0.4rem;
      padding-left: 0;
    }
    #popup_folder_btn{
      display: flex;
      justify-content: flex-end;
      padding:1.5rem 0;
      column-gap: 5px;
    }
    #popup_folder_btn button{
      width:5rem;
      height:2rem;
      padding:0.5rem;
      margin: 0.5rem 0;
      text-align: center;
      color:#72134b;
      font-size: 14px;
    }
    #editanddeletebutton{
      display: flex;
      column-gap: 4px;
    }
    #editanddeletebutton img{
     width:25px;
     height:25px;
    }
    #createimageList{
      display: flex;
      justify-content: baseline;
    }

    #list-create-image{
      position: absolute;
      left: 34rem;
      bottom: 5rem;
      width: 56px;
    }
    .listcontainer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 28.5rem;
      height: 4rem;
      padding:0.875rem;
    }
    #safes-list{
      margin-bottom: 1px;
    }
    #shieldimage img{
      width: 38px;
      height: 38px;
    }
    .activesafe{
      cursor: pointer;
      background-image: linear-gradient(to top, #72134b, #1d212c);
    }

    #editanddeletebutton img{
     width:25px;
     height:25px;
    }

    #button_rose{
      background-color:#e20074; 
      color: white;
      font-weight: bold;
      border: none;
      margin-left: 3px;
      padding: 7px 16px;
    }
    #popup_button_cancel{
      padding: 7px 16px;
      margin-right: 3px;
      background: white;
      border: none;
      font-weight: bold;
      color: #e20074;
    }
   
  
    .safes-list:hover{
      cursor:pointer;
      background-image: linear-gradient(to right, #72134b, #1d212c);
    }
    .activesafe{
      cursor:pointer;
      background-image: linear-gradient(to right, #72134b, #1d212c);
    }

    #imagehover{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
    height: 28px;
    margin-left:8.384px;
    cursor: pointer;
    border-radius:50% ;
    }

    #imagehover:hover{
      background: rgba(90, 99, 122, 0.2);
    }
    #imagehover img {
      width: 14.76px;
      height: 17.76px;
      object-fit: contain;
    }
    button{
      cursor: pointer;
    }
    #locker-para{
      margin-left: 3rem;
      margin-top: 2rem;
      padding:0 8rem;
      font-size: 13px;
      color: #5e627c;
      width: 30rem;
      text-align: center;
    }
    #add-secrets-button{
      font-size: 0.78rem;
      font-weight: bold;
      background: #5e627c;
      border: none;
      color: white;
      margin-top: 1rem;
      width: 5rem;
      height: 2rem;
    }
    #add-secrets-pink{
      border: none;
      font-size: 0.78rem;
      font-weight: bold;
      background:#e20074 ;
      margin-top: 1rem;
      color: white;
      width: 5rem;
      height: 2rem;
    }
    #lightcolor{
      color:#5e627c;
      font-size: 13px;
    }
    #popup_button_button{
      padding: 5px 16px;

    }
    .secretArrange{
      width: 45rem;
      /* height: 10rem; */
      /* padding: 0 2rem; */
    }
    .list_of_secrets{
      display:flex;
      justify-content: space-between;
    column-gap: 0.75rem;
    padding:0.5rem 1.5rem;
    align-items: center;
    color:#5e627c;
    font-weight: 500;
    }
    .list_of_secrets img{
      width: 20px;
      height: 20px;
    }
    .list_of_secrets:hover{
      cursor: pointer;
      background-image: linear-gradient(to right, #72134b, #1d212c);
    }
    .flexcontainer{
      display: flex;
      align-items: center;
      column-gap: 18px;
      justify-content: center;
    }
    #addsecretimgg {
      height: 20px;
    }
    #addsecretimgg img{
      height: 30px;
      width: 30px;
    }